body {
    max-width: 1100px;
    background-color: white;
    margin: 0 auto;
}

header {
    display: grid;
    grid-template-columns: 1fr min-content 1fr;
    align-items: center;
    width: 1100px;
    padding: 0;
    margin: 0;
    background-color: white;
    
}

.header-menu {
    display: flex; 
    gap: 0px; 
    align-items: center; 
    font-family: 'Raleway'; 
    font-size: 18px; 
    font-weight: 400; 
    margin-top: 133px; 
    margin-bottom: 139px;
    margin-left: 24px; 
    word-spacing: 0px;
}

.menu {
    word-spacing: 0px;
    letter-spacing: 100%;
    margin-left: 13px;
    margin-right: 15px;
}

.main-list {
    text-decoration: none;
    list-style-type: none;
}

.list-marker {
    display: flex;
    list-style: circle;
    border: 0.5px;
    margin-right: 0px;
    justify-content: space-around;
    margin-left: 13px;
}

.list-item {
    margin-left: 4px;
    margin-right: 3px;
    text-underline-offset: 4px;
}

.header-logo {
    display: block;
    max-height: 105px;
    max-width: 135px;
    margin-bottom: 5px;
    width: 148px;
    height: 105px;
    position: center;
}

.address {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    max-width: 240px;
    margin-right: 87px;
    margin-bottom: 5px;
    font-size: 18px;
    justify-self: end;
    text-align: left;
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    line-height: 24.3px;
    letter-spacing: 0%;
    font-style: normal;
}

.address-underline {
    text-decoration: underline;
    text-underline-offset: 0.18em;
    margin-top: 3px;
}

.cover {
    width: 100%;
    max-width: 1100px;
    min-height: 757px;
    background-image: url("../images/cover.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;

}

.overlay {
    background: rgba(0,0,0,0.6);
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 0;
}

.cover-title {
    padding-top: 165px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: "Raleway", sans-serif;
    text-transform: uppercase;
    font-size: 100px;
    font-weight: 700;
    line-height: 115px;
    letter-spacing: 30px;
    color: white;
    background: rgba(0,0,0,0);
    z-index: 3;
    padding-left: 50px;
    filter: brightness(160%);
}

.cover-span-tebe {
    text-align: center;
    padding-top: 20px;
    padding-right: 21px;
}

.cover-span-nado {
    text-align: end;
    padding-top: 20px;
    padding-right: 51px;
}

.no-letter-spacing {
    letter-spacing: 0;
}

.cover-description {
    display: flex;
    position: relative;
    font-size: 22px;
    line-height: 28px;
    word-spacing: 18.7px;
    text-transform: uppercase;
    color: white;
    justify-content: space-around;
    z-index: 1;
    align-items: flex-end;
    padding-top: 106px;
}

.cover-description-text {
    width: auto; 
    font-family: 'Raleway', sans-serif; 
    font-weight: 400; 
    font-size: 22px; 
    word-spacing: 18.9px; 
    text-align: justify; 
    padding-bottom: 10px; 
    padding-right: 7px;
}

.cover-button {
    width: 256px; 
    height: 51px; 
    font-family: 'Raleway', sans-serif; 
    font-weight: 500; 
    font-size: 22px; 
    text-transform: uppercase;
    border-width: 1px; 
    border-color: white; 
    background-color: transparent; 
    color: white;
    padding-right: 10px;
}

.lots {
    padding-top: 180px;
    padding-left: 24px;
    width: 1052px;
}

.lots-title {
    font-family: 'Raleway', sans-serif;
    font-size: 40px;
    font-weight: 700;
    padding-left: 40px;
}

.lots_cards-list {
    display: grid;
    padding-top: 27px;
    list-style-type: none;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 25px;
}

.lots_card-list-item{
    width: 334px;
    height: 596px;
}

.card-link {
    color: white;
    text-decoration: none;
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    z-index: 0;
    position: relative;
    font-family: 'Raleway', sans-serif;
    color: white;
    line-height: 120%;
}

.card-title {
    z-index: 1;
    width: 254px;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 22px;
    text-wrap: wrap;
    text-decoration: underline;
    align-self: center;
    padding-top: 48px;
    letter-spacing: 0;
    line-height: 120%;
}

.card-text {
    width: 254px;
    z-index: 1;
    text-decoration: none;
    font-size: 20px;
    font-weight: 400;
    line-height: 120%;
    align-self: center;
    padding-bottom: 48px;
}

.card-type-film {
    background-image: url(../images/card-lot-01.jpg);
}

.card-type-book {
    background-image: url(../images/card-lot-02.jpg);
}

.card-type-picture {
    background-image: url(../images/card-lot-03.jpg);
}

.card-title {
    z-index: 3;
}

.more-link {
    display: block;
    text-align: left;
    color: black;
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    font-size: 20px;
    margin-left: 40px;
    text-underline-offset: 0.2em;
    padding-top: 30px;
}

.about {
    display: grid;
    grid-template-columns: 334px auto;
    gap: 40px;
    width: 1052px;
    margin-top: 120px;
}

.about-logo {
    display: flex;
    align-items: center;
    background: black;
    border-radius: 50%;
    height: 240px;
    width: 240px;
    margin-top: 35px;
    margin-left: 71px;
}

.logo-white {
    width: 148px;
    height: 114px;
    margin-left: 46.48px;
}

.about-coloumn {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 137px;
    margin-left: 10px;
}

.about-title {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 40px;
    color: black;
    padding-bottom: 100px;
}

.about-text {
    display: flex;
    max-width: 693px;
    flex-direction: column;
    align-items: flex-start;
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    font-size: 20px;
    text-wrap: wrap;
    text-align: left;
    line-height: 24px;
    padding-bottom: 24px;
}

footer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding-top: 156px;
    align-items: center;
    background-color: white;
    width: 1100px;
}

.footer-contacts {
    width: 264px;
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 24.3px;
    margin-left: 51px;
    margin-bottom: 2px;
    font-style: normal;
}

.footer-menu {
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    font-size: 18px;
    width: 163.9px;
    text-align: center;
    margin-bottom: 35px;
    margin-left: 102px;
    text-underline-offset: 0.2em;
}

.menu-bottom {
    list-style-type: none;
}

.social-links {
    display: flex;
    justify-content: space-evenly;
    gap: 42px;
    margin-bottom: 50px;
    margin-left: 72px;
    padding-right: 42px;
    list-style-type: none;
}

.social-link {
    display: block;
    width: 48px;
    height: 48px;
    list-style-type: none;
}
